<%- include('../include/head.ejs') %>
    <div class="wrapper">
        <!-- Navbar -->
        <%- include('../include/navbar.ejs') %>
            <!-- /.navbar -->

            <!--  Sidebar Container AdminLTE -->
            <%- include('../include/sidebar.ejs') %>
                <!--  /.Sidebar Container AdminLTE -->

                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <div class="content-header">

                    </div>

                    <section class="content">
                        <div class="container-fluid">
                            <div class="card card-secondary">
                                <div class="card-header">
                                    <div class="d-flex justify-content-center h-100">
                                        <h4 class="card-title">You are only one step a way from your new password,
                                            recover your
                                            password now.
                                        </h4>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <form action="/changepassword/<%= userid %>" method="post">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-center h-100">
                                            <div class="w-50">
                                                <div class="input-group mt-2">
                                                    <input type="password" class="form-control" placeholder="Password"
                                                        name="password" id="password-input">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text" id="toggle-password">
                                                            <span class="fas fa-eye" id="toggle-icon"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% if(errorMsg && errorMsg.length> 0){ %>
                                                    <% errorMsg.forEach((err)=> { %>
                                                        <% if(err.path==="password" ){ %>
                                                            <span class="error-message">
                                                                <%= err.msg %>
                                                            </span>
                                                            <% } %>
                                                                <% }) %>
                                                                    <% } %>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center h-100">
                                            <div class="w-50">
                                                <div class="input-group mt-2">
                                                    <input type="password" class="form-control"
                                                        placeholder="Confirm Password" name="confirmPassword"
                                                        id="confirmPassword-Input">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text" id="toggle-confirmPassword">
                                                            <span class="fas fa-eye"
                                                                id="toggle-confirmPasswordIcon"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% if(errorMsg.length> 0) {%>
                                                    <% errorMsg.forEach((err)=> { %>
                                                        <% if(err.path==="confirmPassword" ) { %>
                                                            <span class="error-message">
                                                                <%= err.msg %>
                                                            </span>
                                                            <% } %>
                                                                <% }) %>
                                                                    <% } %>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center mt-3">
                                            <button type="submit" class="btn btn-secondary">Change
                                                Password
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
                <!--Footer-->
                <%- include('../include/footer.ejs') %>
                    <!-- /.Footer-->
    </div>

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/password.js"></script>

    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>

    <!-- Bootstrap 4 -->
    <script src="/js/bootstrap.bundle.min.js"></script>

    <!-- AdminLTE App -->
    <script src="/js/adminlte.js"></script>

    <style>
        .error-message {
            color: red;
            font-size: 12px;
            display: block;
        }
    </style>