<%- include('./includes/head.ejs') %>

<style>
    label.error {
        color: red;
        font-weight: 400 !important;
        font-style: italic;
        font-size: 14px;
        position: relative;
        bottom: 10px;
    }
    .error{
        color: red;
        font-weight: 400 !important;
        font-style: italic;
        font-size: 14px;
        position: relative;
        bottom: 10px;
    }
</style>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
       <!-- Navbar -->
       <%- include('./includes/navbar.ejs') %>
       <!-- /.navbar -->

              <!--  Sidebar Container AdminLTE -->
              <%- include('./includes/sidebar.ejs') %>
              <!--  /.Sidebar Container AdminLTE -->

              <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <div class="content-header">

                    </div>
                    
                   <section class="content">
                        <div class="container-fluid">
                            <div class="card card-dark">
                                <div class="card-header">
                                    <div class="d-flex justify-content-center h-100">
                                        <h4 class="card-title">Edit Profile</h4>
                                    </div>
                                </div>
                                <% if(errorMsg) { %>
                                    <% errorMsg.forEach((err) => { %>
                                        <% if(err.path === "profileEdit") { %>
                                                <div class="d-flex align-items-center justify-content-center h-100 mt-3">                                          
                                                    <div class="alert alert-success w-50 text-center" id="toggle_close" role="alert">
                                                        <%= err.msg %>
                                                        <span class="fas fa-times float-right" id="alert_box"></span>
                                                    </div>
                                                </div>
                                        <% } %>
                                    <% }) %>    
                                <% } %>
                                <form action="/profile" method="post" id="ProfileForm" enctype="multipart/form-data">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center h-100 justify-content-center">
                                            <div class="form-group">
                                                <label for="exampleInputFile" class="ml-4">Image Upload :</label>
                                                <div class="input-group d-flex flex-column">
                                                    <% if(user.image) {%>
                                                        <img src="/img/userImages/<%= user.image %>" class="ml-5 profile-user-img img-fluid img-circle">
                                                    <% } %>
                                                    <input type="file" class="mt-2" id="image" name="image">
                                                    <input type="hidden" name="old_image" value="<%= user.image %>">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <!--left section-->
                                            <div class="col-md-6">
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label for="f_name">First Name:<span class="text-red">*</span>
                                                        </label>
                                                        <input type="text" class="form-control" id="f_name"
                                                            name="f_name" placeholder="Enter Firstname"
                                                            value="<%= user.f_name ? user.f_name : "" %>">
                                                    </div>
                                                    <% if(errorMsg) { %>
                                                        <% errorMsg.forEach((err) => { %>
                                                            <% if(err.path === "f_name") {%>
                                                                <span class="error"><%= err.msg %></span>
                                                                <% } %>
                                                            <% }) %>
                                                        <% } %>
                                                    <div class="form-group">
                                                        <label for="email">Email address:</label>
                                                        <input type="email" class="form-control" id="email"
                                                            placeholder="Enter email" name="email"
                                                            value="<%= user.email ? user.email : "" %>">
                                                    </div>
                                                    <% if(errorMsg) { %>
                                                        <% errorMsg.forEach((err) => { %>
                                                            <% if(err.path === "alreadyEmail") {%>
                                                                <span class="error"><%= err.msg %></span>
                                                                <% } %>
                                                            <% }) %>
                                                        <% } %>
                                                    <div class="form-group">
                                                        <label for="dob">DOB:</label>
                                                        <input type="date" class="form-control" id="dob" name="dob"
                                                            value="<%= user.dob ? user.dob : "" %>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="hobbies" class="">Hobbies:</label>
                                                        <div class="">
                                                            <div class="form-check form-check-inline"> 
                                                                <input type="checkbox" class="form-check-input" name="hobbies" value="sports" id="sports"
                                                                <% if(hobbiesArray.includes('sports')) { %> checked <% } %>>
                                                                <label class="form-check-label" for="sports">Sports</label>
                                                            </div>
                                                            <div class="form-check form-check-inline"> 
                                                                <input type="checkbox" class="form-check-input" name="hobbies" value="painting" id="painting"
                                                                <% if(hobbiesArray.includes('painting')) { %> checked <% } %>>
                                                                <label class="form-check-label" for="painting">Painting</label>
                                                            </div>
                                                            <div class="form-check form-check-inline"> 
                                                                <input type="checkbox" class="form-check-input" name="hobbies" value="dance" id="dance"
                                                                <% if(hobbiesArray.includes('dance')) { %> checked <% } %>>
                                                                <label class="form-check-label" for="dance">Dance</label>
                                                            </div>
                                                            <div class="form-check form-check-inline"> 
                                                                <input type="checkbox" class="form-check-input" name="hobbies" value="learning" id="learning"
                                                                <% if(hobbiesArray.includes('learning')) { %> checked <% } %>>
                                                                <label class="form-check-label" for="learning">learning</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--right section-->
                                            <div class="col-md-6">
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label for="l_name">Last Name:<span class="text-red">*</span></label>
                                                        <input type="text" class="form-control" id="l_name"
                                                            name="l_name" placeholder="Enter Lastname"
                                                            value="<%= user.l_name ? user.l_name: "" %>">
                                                    </div>
                                                    <% if(errorMsg) { %>
                                                        <% errorMsg.forEach((err) => { %>
                                                            <% if(err.path === "l_name") {%>
                                                                <span class="error"><%= err.msg %></span>
                                                                <% } %>
                                                            <% }) %>
                                                        <% } %>
                                                    <div class="form-group">
                                                        <label for="number">Mobile No. :</label>
                                                        <input type="tel" class="form-control" id="number" name="number"
                                                            placeholder="Enter Mobile number"
                                                            value="<%= user.number ? user.number: "" %>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="gender" class="col-form-label">Gender:</label>
                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <div class="form-check form-check-inline">
                                                                    <input type="radio" name="gender" id="male"
                                                                        class="form-check-input" value="male" <% if(user.gender === "male" ){ %> checked <% } %> >
                                                                    <label for="male" class="form-check-label">Male</label>
                                                                </div>

                                                                <div class="form-check form-check-inline">
                                                                    <input type="radio" name="gender" id="female"
                                                                        class="form-check-input" value="female" <% if(user.gender === "female" ) {%>checked <% } %>>
                                                                    <label for="female" class="form-check-label">Female</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-dark float-right">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
                 <!--Footer-->
                 <%- include('./includes/footer.ejs') %>
                 <!-- /.Footer-->
    </div>

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <script src="/js/jquery-ui.min.js"></script>
    <!-- <script src="/js/password.js"></script> -->

    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>

    <!-- Bootstrap 4 -->
    <script src="/js/bootstrap.bundle.min.js"></script>

    <!-- AdminLTE App -->
    <script src="/js/adminlte.js"></script>

    <!--validation jQuery-->
    <%- include('../auth/includes/script.ejs') %>

    <!--close icon alert box-->
    <script src="/js/close.js"></script>
</body>
